@mixin full-page($position, $overflow) {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;

  position: $position;
  overflow: $overflow;

  @if (position == fixed) {
    -webkit-transform: translateZ(0);
  }
}
