@mixin sliding-menu($desktop, $mobile) {
  @include full-page($position: absolute, $overflow: hidden);

  width: $desktop;
  transform: translateX(-$desktop);

  @include mobile {
    width: $mobile;
    transform: translateX(-$mobile);
  }
}
