@mixin vertical-grid {
  // Aligns three elements vertically (#header, #spacer and #footer)
  // - http://chriswrightdesign.com/experiments/flexbox-adventures/

  // display them stacked vertically
  display: flex;
  flex-direction: column;

  #header, #footer {
    flex: 1 0 0px;

    // center vertically
    display: flex;
    align-items: center;
  }

  .spacer {
    flex: 2 0 0px;
  }
}
