@mixin home-slide {
  @include full-page($position: absolute, $overflow: hidden);
  @include horizontal-grid;

  display: flex;
  align-items: center;


  &#ui {
    @include home-ui;
  }

  &#interactions {
    transform: translateY(100%);
  }

  &#ux {
    transform: translateY(200%);
  }
}
