@mixin home-slide {
  @include full-page($position: absolute, $overflow: hidden);
  @include horizontal-grid;

  display: flex;
  align-items: center;


  article {
    figure {
      @include figure;
      @include placeholder;

      width: 70%;
    }
  }


  &#ui {
    @include home-ui;
  }

  &#interactions {
    @include home-interactions;
    //top: 100%;
  }

  &#ux {
    @include home-ux;
    //top: 200%;
  }
}
