@mixin sliding-menu-animation($desktop, $mobile) {

  #sliding-menu, #header-and-footer {
    @include prepare-animation;
  }

  &.view-change {
    #sliding-menu {
      transform: translateX(0);
    }

    #header-and-footer {
      transform: translateX($desktop);

      @include mobile {
        transform: translateX($mobile);
      }
    }
  }
}
