


<!doctype html>
<html lang="en" class="">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title> &mdash; The meta layout</title>

    <link href="/assets/styles/site.css" media="screen, projection" rel="stylesheet" type="text/css" />

    <!-- Picturefill Responsive Images -->
    <script async src="/assets/scripts/picturefill.min.js"></script>
  </head>

  <body>



<!-- for the HTML5 Outliner -->
<h1 hidden>The meta layout</h1>

<section id="base-layer">
  <h3>Base layer</h3>

  <section id="sliding-menu">
  <h3>Sliding menu</h3>

  <nav id="secondary-menu">
  <h3>Secondary menu</h3>

  <ul>
    
      <li>
        <a href="/" title="home">home</a>
      </li>
    
      <li>
        <a href="/portfolio" title="portfolio">portfolio</a>
      </li>
    
      <li>
        <a href="/styleguide" title="styleguide">styleguide</a>
      </li>
    
      <li>
        <a href="/articles" title="articles">articles</a>
      </li>
    
  </ul>
</nav>

  
  <div class="spacer"></div>

  <nav id="main-menu">
  <h3>Main menu</h3>

  <ul>
    
      <li>
        <a href="/design" title="design">design</a>
      </li>
    
      <li>
        <a href="/code" title="code">code</a>
      </li>
    
      <li>
        <a href="/about" title="about">about</a>
      </li>
    
      <li>
        <a href="/contact" title="contact">contact</a>
      </li>
    
  </ul>
</nav>

</section>

  <section id="header-and-footer">
  <h3>Header and footer</h3>

  <header id="header">
  <h4>design & code</h4>
</header>


  <div class="spacer"></div>

  <footer id="footer">
  <h4>metamn</h4>
</footer>

</section>

</section>


<!-- content layer cannot be included like base layer because  will be not passed to it -->
<section id="content-layer">
  <h3>Content layer</h3>
  
</section>


<script src="/assets/scripts/site.min.js"></script>

</body>
</html>

