


<!doctype html>
<html lang="en" class="">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title> &mdash; The meta grid</title>

    <link href="/assets/styles/site.css" media="screen, projection" rel="stylesheet" type="text/css" />

    <!-- Picturefill Responsive Images -->
    <script async src="/assets/scripts/picturefill.min.js"></script>
  </head>

  <body>





  <section id="header">
    <h3>design & code</h3>
  </section>

  <section id="content">
    <aside>
      <h2>Clean<br>User<br/>Interfaces</h2>
    </aside>

    <article>
      <h3>Article</h3>

      
      <figure >
  


  
  
  
  
  
  
  
  

  
  <!-- Showing different images for different devices -->
  
    
    
    
    
      
      
    
  
    
    
    
      
      
    
    
  


  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 90em)" srcset="/assets/images/placeholder-16-9_desktop.png, /assets/images/placeholder-16-9_desktop2x.png 2x">
    <source media="(min-width: 64em)" srcset="/assets/images/placeholder-16-9_laptop.png, /assets/images/placeholder-16-9_laptop2x.png 2x">
    <source media="(min-width: 37.5em)" srcset="/assets/images/placeholder-2-3_tablet.png, /assets/images/placeholder-2-3_tablet2x.png 2x">
    <source srcset="/assets/images/placeholder-2-3_mobile.png, /assets/images/placeholder-2-3_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="/assets/images/placeholder-16-9_desktop.png" alt="Placeholder 16:9">
  </picture>

  <figcaption>
    Placeholder 16:9
  </figcaption>

  
</figure>


    </article>
  </section>

  <section id="footer">
    <h3>metamn</h3>
  </section>




<script src="/assets/scripts/site.min.js"></script>

</body>
</html>

